/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
* {
    background-color: floralwhite;
    
}

html {
    font-size: 62.5%;
}

body {
    width: 80%;
    margin: 0 auto;
}

p, a {
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

img {
    display: inline-block;
    height: auto;
    width: 500px;
}

*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a,
address {
  font-size: 1.6rem;
}
img {
  display: inline-block;
  height: auto;
  width: 500px;
}
/*
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //border: 1px solid purple;
}

a {
    //border: 1px solid purple;

    text-decoration: none;

    padding: 0 2%;
}

h1 {
    //border: 1px solid purple;

    width: 25%;
}

nav {
    //border: 1px solid purple;

    width: 70%;

    display: flex;
    justify-content: space-around;
}

*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: lightgray;
}
.navbar h1 {
  width: 40%;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.navbar nav a {
  padding: 3%;
}
/*
.homepage {
    border-bottom: 2px dashed maroon;
}

h2, h3, .location-info {
    text-align: center;
}

*/
.homepage {
  background-color: lightgray;
  margin-bottom: 20px;
}
.rsvp-page {
  background-color: lightgray;
  margin-bottom: 20px;
}
.in-person-page {
  background-color: lightgray;
  margin-bottom: 20px;
}
.livestream-page {
  background-color: lightgray;
  margin-bottom: 20px;
}
.gifts-page {
  background-color: lightgray;
  margin-bottom: 20px;
}
.pics-page {
  background-color: lightgray;
  margin-bottom: 20px;
}
footer {
  background-color: lightgray;
  margin-bottom: 20px;
}
