.button {
  padding: 12px;
  margin: 20px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid silver;
}
@media (max-width: 500px) {
  .button {
    padding: 3%;
  }
}
.button:hover {
  border: 2px solid #660000;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1 {
  display: none;
}
p,
li,
address,
a {
  text-align: center;
  font-family: 'EB Garamond', serif;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: 'Tangerine', cursive;
}
h2 {
  font-size: 5.5rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 4.5rem;
  margin-bottom: 20px;
}
h4 {
  font-size: 4rem;
  margin-bottom: 20px;
}
p,
li {
  font-size: 1.8rem;
  line-height: 1.8;
}
a,
address {
  font-size: 1.7rem;
}
.text-block {
  width: 50%;
  padding: 40px 0;
}
@media (max-width: 800px) {
  .text-block {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .text-block {
    width: 90%;
  }
}
.my-navbar {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid silver;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.my-navbar nav {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .my-navbar nav {
    flex-wrap: wrap;
    width: 70%;
    height: 100px;
    margin: 0 auto;
  }
}
.my-navbar nav a {
  padding: 7px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
.my-navbar nav a:hover {
  background-color: whitesmoke;
  outline: 2px solid silver;
}
#homepage {
  background-color: whitesmoke;
  border-bottom: 2px solid silver;
}
#homepage .title-info {
  background-image: url('../img/Mikayla-david-ireland-engagement.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid silver;
}
@media (max-width: 500px) {
  #homepage .title-info {
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
  }
}
#homepage .title-info .opaque-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid silver;
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 500px) {
  #homepage .title-info .opaque-box {
    width: 400px;
  }
}
#homepage .title-info .opaque-box h2 {
  font-size: 7rem;
}
#homepage .title-info .opaque-box .location-info {
  font-size: 1.9rem;
}
#homepage .home-info {
  padding: 250px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#homepage .home-info .couple-info p {
  font-size: 1.9rem;
  padding: 20px 0;
}
#rsvp-page {
  background-color: white;
  padding: 250px 0;
  border-bottom: 2px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rsvp-page a {
  padding: 12px;
  margin: 20px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid silver;
}
@media (max-width: 500px) {
  #rsvp-page a {
    padding: 3%;
  }
}
#rsvp-page a:hover {
  border: 2px solid #660000;
}
#in-person-page {
  background-color: whitesmoke;
  padding: 250px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid silver;
  scroll-behavior: smooth;
}
#in-person-page .hotel-info .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}
#in-person-page .hotel-info .grid-container .grid-item {
  width: 49%;
  padding: 20px 10px;
  border: 1px solid silver;
}
@media (max-width: 800px) {
  #in-person-page .hotel-info .grid-container .grid-item {
    width: 90%;
  }
}
#in-person-page .contact-info .flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
}
@media (max-width: 500px) {
  #in-person-page .contact-info .flex-container {
    flex-direction: column;
  }
}
#in-person-page .contact-info .flex-container .contact-card {
  width: 30%;
  overflow-wrap: break-word;
}
@media (max-width: 800px) {
  #in-person-page .contact-info .flex-container .contact-card {
    width: 100%;
    padding: 20px 0;
  }
}
#livestream-page {
  background-color: white;
  padding: 250px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid silver;
}
#livestream-page .how-live .flex-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
#livestream-page .how-live .flex-container h4 {
  width: 15%;
}
#livestream-page .how-live .flex-container p {
  width: 75%;
  text-align: left;
}
#livestream-page .livestream .cat-box {
  width: 100%;
  display: flex;
}
#livestream-page .livestream .cat-box img {
  height: 200px;
  width: auto;
}
#gifts-page {
  background-color: whitesmoke;
  padding: 250px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid silver;
}
#gifts-page .list-container {
  width: 50%;
}
@media (max-width: 800px) {
  #gifts-page .list-container {
    width: 60%;
  }
}
@media (max-width: 500px) {
  #gifts-page .list-container {
    width: 90%;
  }
}
@media (max-width: 800px) {
  #gifts-page .list-container ul {
    height: auto;
  }
}
#gifts-page .list-container ul li {
  list-style: inside;
}
#gifts-page .ikea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gifts-page .ikea a {
  margin: 45px;
}
#gifts-page .contact p {
  padding: 20px 0;
}
#gifts-page a {
  padding: 12px;
  margin: 20px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid silver;
}
@media (max-width: 500px) {
  #gifts-page a {
    padding: 3%;
  }
}
#gifts-page a:hover {
  border: 2px solid #660000;
}
#pics-page {
  background-color: white;
  padding: 250px 0;
  border-bottom: 2px solid silver;
}
#pics-page h3 {
  padding: 60px 0 40px 0;
}
#pics-page .carousel {
  width: 800px;
  height: 600px;
  margin: auto;
}
@media (max-width: 800px) {
  #pics-page .carousel {
    width: 600px;
    height: 450px;
  }
}
@media (max-width: 500px) {
  #pics-page .carousel {
    width: 400px;
    height: 300px;
  }
}
footer {
  background-color: whitesmoke;
  padding: 75px;
}
footer p {
  padding: 10px 0;
}
