/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  display: none;
}
h2,
h3,
p,
li,
address,
a {
  text-align: center;
  font-family: 'Sen', sans-serif;
}
h2 {
  font-size: 2.8rem;
  padding-bottom: 30px;
}
h3 {
  font-size: 2.2rem;
  padding: 10px 0;
}
p,
li {
  font-size: 1.6rem;
  line-height: 1.6;
}
a,
address {
  font-size: 1.6rem;
}
.navbar {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid silver;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar nav {
  display: flex;
  justify-content: space-evenly;
  scroll-behavior: smooth;
}
@media (max-width: 500px) {
  .navbar nav {
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: 100px;
    margin: 0 auto;
  }
}
.navbar nav a {
  padding: 7px 1%;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}
.navbar nav a:hover {
  background-color: whitesmoke;
  outline: 2px solid silver;
}
#homepage {
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-bottom: 2px solid silver;
  scroll-behavior: smooth;
}
#homepage .title-info {
  background-image: url('../img/sample-img19.jpg');
  height: 900px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid silver;
}
#homepage .title-info .opaque-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid silver;
  width: 450px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 500px) {
  #homepage .title-info .opaque-box {
    width: 400px;
  }
}
#homepage .title-info .opaque-box h2 {
  font-size: 4.1rem;
  font-family: 'Times New Roman', Times, serif;
}
#homepage .title-info .opaque-box .location-info {
  font-size: 1.9rem;
}
#homepage .title-info .opaque-box .location-info p {
  padding: 5px 0;
}
#homepage .home-info {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#homepage .home-info div {
  width: 50%;
}
@media (max-width: 800px) {
  #homepage .home-info div {
    width: 70%;
  }
}
#homepage .home-info div h3 {
  padding-bottom: 20px;
}
#homepage .home-info .para2 {
  padding: 40px 0;
}
#rsvp-page {
  background-color: white;
  padding: 200px 3%;
  border-bottom: 2px solid silver;
  scroll-behavior: smooth;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  #rsvp-page {
    width: 70%;
  }
}
#rsvp-page p {
  padding-bottom: 10px;
}
#in-person-page {
  background-color: whitesmoke;
  padding: 200px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid silver;
  scroll-behavior: smooth;
}
#in-person-page div {
  width: 50%;
}
@media (max-width: 800px) {
  #in-person-page div {
    width: 70%;
  }
}
#in-person-page div h3 {
  padding-bottom: 20px;
}
#in-person-page .main-info p {
  padding: 10px 0;
}
#in-person-page .hotel-info {
  padding: 40px 0;
}
#livestream-page {
  background-color: white;
  padding: 200px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid silver;
  scroll-behavior: smooth;
}
#livestream-page div {
  width: 50%;
}
@media (max-width: 800px) {
  #livestream-page div {
    width: 70%;
  }
}
#livestream-page div h3 {
  padding-bottom: 20px;
}
#livestream-page .para2 {
  padding: 40px 0;
}
#livestream-page .para3 {
  padding-bottom: 40px;
}
#livestream-page .livestream p {
  width: 100%;
}
#gifts-page {
  background-color: whitesmoke;
  padding: 200px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid silver;
  scroll-behavior: smooth;
}
#gifts-page div {
  width: 50%;
}
@media (max-width: 800px) {
  #gifts-page div {
    width: 70%;
  }
}
#gifts-page div h3 {
  padding-bottom: 20px;
}
#gifts-page div li {
  list-style: disc inside;
}
#gifts-page .list2 {
  padding: 40px 0;
}
#gifts-page p {
  width: 50%;
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  #gifts-page p {
    width: 70%;
  }
}
#gifts-page a {
  padding: 1%;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid silver;
}
@media (max-width: 500px) {
  #gifts-page a {
    padding: 3%;
  }
}
#gifts-page a:hover {
  border: 2px solid #660000;
}
#pics-page {
  background-color: white;
  padding: 200px 3%;
  border-bottom: 2px solid silver;
  scroll-behavior: smooth;
}
#pics-page h3 {
  padding-bottom: 20px;
}
#pics-page .collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 20px 0;
}
#pics-page .collage img {
  display: inline-block;
  height: auto;
  width: 500px;
  padding-bottom: 2px;
}
@media (max-width: 500px) {
  #pics-page .collage img {
    width: 400px;
  }
}
#pics-page .collage1,
#pics-page .collage2 {
  padding-bottom: 80px;
}
footer {
  background-color: whitesmoke;
  padding: 100px;
}
footer p {
  padding: 10px 0;
}
