footer {
    background-color: @background-color;
    //padding: 100px 0;

    /* p {
        padding: 10px 0;
    } */

    .img-creds {
        width: 80%;
        margin: 0 auto;

        /* p {
            padding: 10px 0;
        } */
    }
}