* {
    background-color: floralwhite;
    
}

html {
    font-size: 62.5%;
}

body {
    width: 80%;
    margin: 0 auto;
}

p, a {
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

img {
    display: inline-block;
    height: auto;
    width: 500px;
}