// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
    display: none;
}

h2, h3, p, li, address, a {
    text-align: center;
    font-family: @main-font;
}

h2 {
  font-size: 2.8rem;
  padding-bottom: 30px;
}

h3 {
  font-size: 2.2rem;
  padding: 10px 0;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.6;
}

a, address {
    font-size: 1.6rem;
}