/*
* {
    background-color: floralwhite;
    
}

html {
    font-size: 62.5%;
}

body {
    width: 80%;
    margin: 0 auto;
}

p, a {
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

img {
    display: inline-block;
    height: auto;
    width: 500px;
}

*/




// General Styles
* {
  box-sizing: border-box;
 // background-color: floralwhite;
}

html {
  font-size: 62.5%;
}

/*body {
    width: 80%;
    margin: 0 auto;
}*/

h1 {
    display: none;
}

h2, h3, p, li, address, a {
    text-align: center;
    font-family: @main-font;
}

h2 {
  font-size: 2.8rem;
  padding-bottom: 30px;
}

h3 {
  font-size: 2.2rem;
  padding: 10px 0;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.4;
}

a, address {
    font-size: 1.6rem;
}

img {
    display: inline-block;
    height: auto;
    width: 500px;
}
