/*
.homepage {
    border-bottom: 2px dashed maroon;
}

h2, h3, .location-info {
    text-align: center;
}

*/

.homepage {
    background-color: @background-color;
    //margin-bottom: 20px;
    padding: 200px 3%;
    border-bottom: 2px solid @border-color;

    .title-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;

        background-image: url('../img/sample-img19.jpg');

        h2 {
            font-size: 4rem;
            padding-bottom: 113.5px;
        }

        .location-info {
            padding: 20px 0;
            

            p {
                width: 100%;
            }
        }

        p {
            width: 50%;
        }
    }
}