/*
.homepage {
    border-bottom: 2px dashed maroon;
}

h2, h3, .location-info {
    text-align: center;
}

*/

.homepage {
    background-color: @background-color;
    margin-bottom: 20px;
    border-bottom: 2px solid @border-color;

    .title-info {
        background-image: url('../img/sample-img19.jpg');

        height: 900px;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 2px solid @border-color;

        .opaque-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border: 2px solid @border-color;

            width: 450px;
            height: 250px;

            //background-color: rgba(245, 245, 245, 0.6);
            background-color: rgba(255, 255, 255, 0.6);
            

            h2 {
                font-size: 4.1rem;
            }

            .location-info {
                font-family: @main-font;
                font-size: 1.9rem;

                p {
                    padding: 5px 0;
                }
            }
        }
    }

    .home-info {
        padding: 200px 0;

        h3, p {
            font-family: @main-font;
        }
    }
}