#homepage {
    background-color: @background-color;
    border-bottom: 2px solid @border-color;

    .title-info {
        //background-image: url('../img/Mikayla-david-ireland-engagement.jpg');

        height: 900px;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 2px solid @border-color;

        @media @mobile {
            background-color: @secondary-bg-color;
            //background-image: url('../img/mobile-bg-img.jpg');
            flex-direction: column;
            justify-content: space-around;
            //padding: 150px 0;
            height: 1000px;
        }

        .opaque-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border: 2px solid @border-color;

            width: 500px;
            height: 300px;

            background-color: rgba(255, 255, 255, 0.7);

            @media @mobile {
                width: 400px;
            }
            

            h2 {
                font-size: 7rem;
                //font-family: 'Times New Roman', Times, serif;
            }

            .location-info {
                font-size: 1.9rem;

                /* p {
                    padding: 5px 0;
                } */
            }
        }

        /* img {
            display: none;

            @media @mobile {
                display: block;
                width: 400px;
                height: auto;
                border-radius: 30px;
                border: 1px solid @border-color;
            }
        } */
    }

    .home-info {
        //padding: 200px 0;
        padding: @btwn-pg-space;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        /* commenting this out because I'm trying to style all the text-block div/p tags with a class in the global.less file */
        /* div {
            width: 50%;

            @media @tablet {
                width: 70%;
            }

            @media @mobile {
                width: 80%;
            }

            h3 {
                padding-bottom: 20px;
            }
        } */

        /* .para2 {
            padding: 40px 0;
        } */
    }
}