#in-person-page {
    background-color: @background-color;
    //padding: 200px 3%;
    padding: @btwn-pg-space;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid @border-color;

    scroll-behavior: smooth;

    /* commenting this out because I'm trying to style all the text-block div/p tags with a class in the global.less file */
    /* div {
        width: 50%;

        @media @tablet {
            width: 70%;
        }

        @media @mobile {
            width: 80%;
        }

        h3 {
            padding-bottom: 20px;
        }
    } */

    /* .main-info {
        p {
            padding: 10px 0;
        }
    }

    .hotel-info {
        padding: 40px 0;
    } */

    .contact-info {
        //border: 1px solid goldenrod;

        .flex-container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            padding-top: 10px;

            @media @mobile {
                flex-direction: column;
            }

            .contact-card {
                //border: 1px solid blue;

                width: 30%;
                overflow-wrap: break-word;

                @media @mobile {
                    width: 100%;
                    padding: 20px 0;
                }
            }
        }
    }
}