.in-person-page {
    background-color: lightgray;
   // margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #80192B;

    p {
        width: 50%;
    }
}