#in-person-page {
    background-color: @background-color;
   // margin-bottom: 20px;
    padding: 200px 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid @border-color;

    scroll-behavior: smooth;

    /* h2 {
        font-family: @main-font;
    } */

    div {
        width: 50%;

        //border: 1px solid red;

        h3 {
            // font-family: @main-font;
            padding-bottom: 20px;
        }
    
        /* p {
            font-family: @main-font;
        } */
    }

    .main-info {
        p {
            padding: 10px 0;
        }
    }

    .hotel-info {
        padding: 40px 0;
    }
}