#livestream-page {
    background-color: @secondary-bg-color;
    //padding: 200px 3%;
    padding: @btwn-pg-space;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid @border-color;

    /* commenting this out because I'm trying to style all the text-block div/p tags with a class in the global.less file */
    /* div {
        width: 50%;

        @media @tablet {
            width: 70%;
        }

        @media @mobile {
            width: 80%;
        }

        h3 {
            padding-bottom: 20px;
        }
    } */

    /* .para2 {
        padding: 40px 0;
    }

    .para3 {
        padding-bottom: 40px;
    } */

    .para2 {
        //border: 1px solid goldenrod;

        .flex-container {
            //border: 1px solid blue;

            display: flex;
            justify-content: space-evenly;

            padding: 20px 0;

            h4 {
                //border: 1px solid green;
    
                width: 15%;
            }

            p {
                //border: 1px solid orangered;

                width: 75%;
                text-align: left;
            }
        }
    }

    .livestream {
        p {
            width: 100%;
        }
    }
}