#livestream-page {
    background-color: @secondary-bg-color;
    padding: @btwn-pg-space;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid @border-color;

    .what-live p, .when-live p {
        text-align: justify;
    }

    .how-live {
        .flex-container {
            display: flex;
            justify-content: space-evenly;

            padding: 20px 0;

            h4 {
                width: 15%;
            }

            p {
                width: 75%;
                text-align: left;
            }
        }
    }

    .livestream {
        .cat-box {
            width: 100%;
            display: flex;

            img {
                height: 200px;
                width: auto;
            }
        }
    }
}