.my-navbar {
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid @border-color;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    nav {
        display: flex;
        justify-content: space-evenly;

        @media @mobile {
            //flex-direction: column;
            flex-wrap: wrap;
            width: 70%;
            height: 100px;
            margin: 0 auto;
        }
    
        a {
            padding: 7px;
            font-size: 2rem;
            text-decoration: none;
            color: black;
        }

        a:hover {
            background-color: @background-color;
            outline: 2px solid @border-color;
        }
    }
}

