#pics-page {
    background-color: @secondary-bg-color;
    //padding: 200px 3%;
    padding: @btwn-pg-space;
    border-bottom: 2px solid @border-color;

    h3 {
        padding: 60px 0 40px 0;
    }

    .carousel {
        width: 800px;
        height: 600px;
        margin: auto;

        @media @tablet {
            width: 600px;
            height: 450px;
        }

        @media @mobile {
            width: 400px;
            height: 300px;
        }
    }

    /* .collage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        //padding: 20px 0;

        //border: 1px solid blue;

        img {
            display: inline-block;
            height: auto;
            width: 500px;
            padding: 2px 0;
        
            @media @mobile {
                width: 400px;
            }
        }
    } */

    /* .collage1, .collage2 {
        padding-bottom: 80px;
    } */
}

