.pics-page {
    background-color: @background-color;
    margin-bottom: 20px;
    padding: 20px;
   // border-bottom: 2px solid @border-color;

    .collage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

