#pics-page {
    background-color: @secondary-bg-color;
    padding: @btwn-pg-space;
    border-bottom: 2px solid @border-color;

    h3 {
        padding: 60px 0 40px 0;
    }

    .carousel {
        width: 800px;
        height: 600px;
        margin: auto;

        @media @tablet {
            width: 600px;
            height: 450px;
        }

        @media @mobile {
            width: 400px;
            height: 300px;
        }
    }
}

