.rsvp-page {
    background-color: @secondary-bg-color;
    //margin-bottom: 20px;
    padding: 200px 3%;
    border-bottom: 2px solid @border-color;

    /* h2, p {
        font-family: @main-font;
    } */
}