#rsvp-page {
    background-color: @secondary-bg-color;
    //padding: 200px 3%;
    border-bottom: 2px solid @border-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* .rsvp-info {
        width: 50%;
        margin: 0 auto;

        border: 1px solid purple;
    } */

    @media @tablet {
        width: 70%;
    }

    @media @mobile {
        width: 80%;
    }

    a {
        .button();
    }

    /* commenting this out because I'm trying to style all the text-block div/p tags with a class in the global.less file */
    /* p {
        padding-bottom: 10px;
    } */

    // input {
    //     width: 80%;
    //     height: 100px;
    // }
}