#rsvp-page {
    background-color: @secondary-bg-color;
    padding: 200px 3%;
    border-bottom: 2px solid @border-color;

    width: 50%;
    margin: 0 auto;

    @media @tablet {
        width: 70%;
    }

    @media @mobile {
        width: 80%;
    }

    p {
        padding-bottom: 10px;
    }

    // input {
    //     width: 80%;
    //     height: 100px;
    // }
}