@border-color: silver;
@background-color: whitesmoke;
@secondary-bg-color: white;

@main-font: 'EB Garamond', serif;
@title-font: 'Tangerine', cursive;

//Breakpoints
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";