//Colors
@border-color: silver;
@background-color: whitesmoke;
@secondary-bg-color: white;

//Fonts
@main-font: 'EB Garamond', serif;
@title-font: 'Tangerine', cursive;

//Padding & Margin
@btwn-pg-space: 250px 0;
@below-header-space: 20px;

//Breakpoints
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";